<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halostorm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:screenOrientation="portrait">
        <activity
            android:name="com.halostorm.Menu_Page"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.halostorm.Playlist_Screen"
            android:label="Playlist" 
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.halostorm.Player"
            android:theme="@style/AppTheme.co"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.halostorm.Login_Screen"
            android:label="Login" 
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="com.halostorm.Dashboard_Screen"
            android:label="Dashboard" 
            android:screenOrientation="portrait">
        </activity>
        
    </application>

</manifest>
